body{
  font-size: 1.2em;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

div{
  margin: 0;
  padding: 0;
}

#header{

}

#slidemenu{
  z-index: 2;
  cursor: default;
  float: right;
  display: none;
}

#slidemenu div:first-child{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

#slidemenu ul{
  display: inline;
}

#slidemenu ul li{
  list-style-type: none;
  padding: 0.10rem 0;
}

#slidemenu .entry{
  padding-left: 1rem;
}

#slidemenu .selected{
  font-weight: bold;
}

#rightmenu{
  cursor: default;
}

#rightmenu ul li{
  list-style-type: none;
}

#rightmenu .selected{
  font-weight: bold;
}

#content{
  margin: 0 auto;
}

#content #left{

}

#content #main{
  margin: 0 auto;
}

#entry{

}

#prevnext{
  font-size: 3rem;
}

#prevnext span{
  cursor: default;
}

#content #right{

}

#footer{

}

@media only screen and (max-width: 40em){
  body{
    font-size: 1em;
  }

  #rightmenu{
    display: none;
  }

  #slidemenu{
    display: block;
  }
}
