/* style.css */
#frame
{
  position: relative;
  width: 820px;
  height: 500px;
  overflow: hidden;
}

#compositeImg
{
	transform: scale(0.5, 0.5);
	transform-origin: 0 0;
}

.visible
{
	visibility:visible;
}

.hidden
{
	visibility:hidden;
}