
/*----- calendar -----*/
.calendar{
	display: inline-flex;
	padding: 0.5rem;
}

.calendar th{
	text-align: center;
	width: 3rem;
	font-weight: normal;
	padding: 0.5rem;
}

.calendar td{
	text-align: center;
}

.current-date{
	border: 1px solid lightgray;
}

.selected-start-date{
	background-color: lightblue;
}

.selected-end-date{
	background-color: lightcyan;
}

.available-cell{
	.font-weight: bold;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
}