/*----- dialog -----*/

.dialog{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-color: rgba(192,192,192,0.3);
}

.dialog div:first-child{
	max-width:80%;
	padding: 2rem;
}
