body {
    font-size: 1.3em;
    font-family: Tahoma,Helvetica, sans-serif;
}

.logo{
	width: 200px;
}

.content {
    width: 960px;
    margin: 0 auto;
}

#mainNav {
    display: block;
}

#mainNav ul {
    list-style-type: none;
    clear: both;
    padding: 0;
    margin: 0;
}

#mainNav ul li {
    float: left;
    width: 20%;
    text-align: center;
	position: relative;

}

#mainNav .submenu li{
	width: 100%;
}

.defaultNav {
    color: wheat;
    cursor: pointer;
    line-height: 3rem;
}

.activePage {
    cursor: default;
    line-height: 4rem;
}

.submenu{
	position: absolute;
}

.submenu_active{
	
	
}
/*****
#mainNav ul li:nth-child(1) {
    background-color: #037FCC;
}

#mainNav ul li:nth-child(2) {
    background-color: #FF6950;
}

#mainNav ul li:nth-child(3) {
    background-color: #5E8399;
}

#mainNav ul li:nth-child(4) {
    background-color: #607370;
}

#mainNav ul li:nth-child(5) {
    background-color: #CC4040;
}
*****/

main {
    display: block;
    clear: left;
    margin-top: 100px;
}

main header {
    font-weight: bold;
    font-size: 0.9rem;
}

main header div {
    text-align: center;
}

#history {
    float: left;
    margin-right: 100px;
    width: 30%;
    background-color: #EDF1EB;
    padding: 1rem;
    border-right: 6px solid lightblue;
}

#history ul {
    list-style-type: none;
    padding: 0;
}

#history ul li {
    margin-top: 40px;
    cursor: pointer;
    border-bottom: 1px solid azure;
    padding-bottom: 10px
}

#history ul li:hover {

}

#history ul li p{
    margin: 0;
}

#history ul li p:nth-child(1){
    font-size: 1.1rem;

}


#history ul li p:nth-child(2){
    font-style: italic;
    font-size: 0.8rem;
    color: #8FABAB;
    text-align: right;
    padding-right: 10px;
}

#historyNav{
    font-size: 0.9rem;
    margin-top: 50px;
}

#historyNav span {
    width: calc(30% - 3px);
    float: left;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightseagreen;
    margin: 0 3px;
    cursor: pointer;
}

footer {
    clear: both;
    padding-top: 20px;
}

footer div {
    text-align: center;
    font-size: 0.8rem;
}


.display article header {
    margin-bottom: 1rem;
}

#carousel {
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-top: 1px solid lightblue;
    position: relative;
    height: 300px;
    overflow:hidden;
}

#carouselImage {
    float: left;
}


#carouselMarker {
    position: absolute;
    left: 30px;
    top: 30px;
}

#carouselMarker ul{
    list-style-type: none;
    padding: 0;
}

#carouselMarker ul li {
    float:left;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin:0 1rem;
    border: 1px solid lightyellow;
}

.defaultMarker {
    background-color: lightblue;


}

.selectedMarker {
    background-color: darkgoldenrod;
}

.transitionOn {
    transition: all 1s ease; 
}

.moveUp {
    margin-top: -300px;
}

.hidden {
    display: none;
}

