.header {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    padding:10px 40px;
    align-items: center;
}

/*===============*/
/* Common styles */
/*===============*/

.nav_menu
{
    position: relative;
    line-height: 2rem;
}

.nav_menu > a
{
    display: flex;
    align-items: center;
    color:#fff;
    text-decoration: none;
}

.nav_menu > a:hover
{
    color: #abfe98;
}

/* This is for the right arrow html symbol */
.arrow_down
{
    margin-left: 0.5rem;
    rotate: -90deg;
    margin-top: 4px;
}

.nav_menu:hover .dropdown
{
    display: block;
}

.dropdown{
    position: absolute;
    top: 30px;
    box-shadow: 7px 7px 10px 0 rgba(0,0,0,.16);
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 15px;
    z-index: 101;
    padding: 0.1rem 0.75rem;

    /* This wil be displayed when the user hovers over the menu */
    display:none;
    
}

.dropdown > ul
{
    list-style: none;
}

.dropdown > ul > li
{
    line-height: 2.5rem;
}

.dropdown > ul > li > a
{
    text-decoration: none;
    font-weight: 900;
    font-size:1.2rem;
    color: #000;
}

.dropdown > ul > li > a:hover
{
    color: #8c0ac8 ;
}