/* travel info dropdown */
.container{
    position: absolute;
    box-shadow: 7px 7px 10px 0 rgba(0,0,0,.16);
    border: 3px solid #000;
    background-color: #fff;
    border-radius: 15px;   
    margin: 0;
    padding: 0;
    max-height: 80vh;
    overflow-y: scroll; 
  }
  
  .dropdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .section_header{
    display: flex;
    align-items: center;
    font-weight: 900;
    gap: 10px;
    color:#000;
  }
  .section_header > a {
    text-decoration: none;
    color:#000
  }

  .section_header > a :hover{
    color: #8c0ac8;
  }

  .links a{
    color:#000;
  }

  .links > a:hover {
    color: #8c0ac8;
  }
  
