.dropdown
{
    position: absolute;
    background-color: #212529;
    color: #fff;
    top: 4.9rem;
    left: -40vw;
    width: calc(40vw + 6rem);
}

.dropdown > a
{
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 1rem;
    scale: 1 1;
    line-height: 4rem;
}

.dropdown > a:hover
{
    color: #abfe98;
}