.login
{
    cursor: pointer;
    position: relative;
    display: block;    
}

.login > img 
{
    width: 2rem;
    min-width: 24px;
}

.login > div
{
    position:absolute;
    display: block;
    margin: 0;
    top: 3.2rem;    
    padding: 0.5rem 0;
    width: 8rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #0000007c;
    list-style: none;
    border-radius: 0.25rem;
    left: -5rem;     
}

.login > div > button
{
    background-color: #fff;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0;
}

.login > div >button:hover
{
    color:#8c0ac8;
    background-color: rgba(211, 211, 211, 0.812);
}