/*-- reset --*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.menu_icon label{
	cursor: pointer;
}

.menu_icon input + label::before {
	/*-- hamburger icon --*/
	content: "\2630"; 
	text-align: center;
}

.menu_icon input:checked + label::before {
	/*-- x icon --*/
	content: "\00d7"; 
	font-size: 1.5rem;
}

.menu_icon input {
	display: none;
}

.menu_entries {
	display: flex;
	flex-direction: row;
	width: calc(100% - 1rem);
}




