:root {
  --foreground-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  height: 100%;
}

.no_display{
  display: none;
}

.no_txt_decor
{
  text-decoration: none;
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  display: block;
  position: absolute;
}
